In [ ]:
import pandas as pd
from cassandra.cluster import Cluster
cluster = Cluster()
session = cluster.connect()

In [ ]:
# display all keyspaces
rs=session.execute("select * from system_schema.keyspaces")
for row in rs.all():
    print("keyspace name : ", row[0])
    print("replication Details : ",row[2])

In [ ]:
# create keyspaces
session.execute("CREATE KEYSPACE IF NOT EXISTS tp WITH replication = {'class':'SimpleStrategy', 'replication_factor':1}").one()
rs=session.execute("select * from system_schema.keyspaces")
for row in rs.all():
    print("keyspace name : ", row[0])
    print("replication Details : ",row[2])

In [ ]:
session.execute("ALTER KEYSPACE tp WITH replication = {'class':'SimpleStrategy', 'replication_factor':3}")
rs=session.execute("select * from system_schema.keyspaces")
for row in rs.all():
    print("keyspace name : ", row[0])
    print("replication Details : ",row[2])

In [ ]:
session.execute("DROP KEYSPACE tp")

In [ ]:
# Create keyspace and table
session.execute("CREATE KEYSPACE IF NOT EXISTS tp WITH replication = {'class':'SimpleStrategy', 'replication_factor':1}").one()
session.execute("use tp")
session.execute("CREATE TABLE student(student_id int PRIMARY KEY,student_name text,student_city text,student_fee varint,student_phone varint)")

In [ ]:
session.execute("ALTER table student add student_email text")

In [ ]:
session.execute("ALTER table student drop student_email")

In [ ]:
session.execute("ALTER TABLE student DROP (student_fee, student_phone)")

In [ ]:
session.execute("drop table student")

In [ ]:
session.execute("DESCRIBE COLUMNFAMILIES")

In [ ]:
session.execute("CREATE TABLE student(student_id int PRIMARY KEY,student_fees varint,student_name text)")

In [ ]:
session.execute("INSERT INTO student (student_id, student_fees, student_name) VALUES(1,5000, 'Ajeet')")
session.execute("INSERT INTO student (student_id, student_fees, student_name) VALUES(2,3000, 'Kanchan')")
session.execute("INSERT INTO student (student_id, student_fees, student_name) VALUES(3, 2000, 'Shivani')")
session.execute("INSERT INTO student (student_id, student_fees, student_name) VALUES(4, 2000, 'Manidhar')")

In [ ]:
rs = session.execute("select * from student")
rows=pd.DataFrame(rs.all(),columns=['student_id','student_fees','student_name'])
rows.head()

In [ ]:
session.execute("UPDATE student SET student_fees=10000,student_name='Rahul' WHERE student_id=2")
rs = session.execute("select * from student where student_id=2")
rows=pd.DataFrame(rs.all(),columns=['student_id','student_fees','student_name'])
rows.head()

In [ ]:
session.execute("delete from student where student_id=4")
rs=session.execute("select * from student")
rows=pd.DataFrame(rs.all(),columns=['student_id','student_fees','student_name'])
rows.head()

# Delete sepecific column date for specific user in table

In [ ]:
session.execute("delete student_fees from student where student_id=3")
rs=session.execute("select * from student")
rows=pd.DataFrame(rs.all(),columns=['student_id','student_fees','student_name'])
rows.head()

# Set Collection

In [ ]:
session.execute("Create table employee(id int,Name text,Email set<text>,Primary key(id))")

In [ ]:
session.execute("INSERT INTO employee (id, email, name) VALUES(1, {'ajeetraj4u@gmail.com'}, 'Ajeet')")
session.execute("INSERT INTO employee (id, email, name) VALUES(2,{'kanchan@gmail.com'}, 'Kanchan')")
session.execute("INSERT INTO employee (id, email, name) VALUES(3, {'kunwar4u@gmail.com'}, 'Kunwar')")
rs=session.execute("select * from employee")
rows=pd.DataFrame(rs.all(),columns=['id','email','name'])
rows.head()

# List Collection

In [ ]:
session.execute("alter table employee add department list<text>")

In [ ]:
session.execute("insert into employee (id,email,name,department) values (4,{'manidhar@gmail.com'},'Manidhar',['IT','Development']) ")

In [ ]:
rs=session.execute("select * from employee")
rows=pd.DataFrame(rs.all())
rows.head()